:root {
    --white: #FFFFFF;
    --white1: #bbb;
    --black: #000000;
    --dark-blue0: #01020a;
    --dark-blue1: #03071E;
    --dark-brown0: #370617;
    --light-brown0: #6A040F;
    --dark-red0: #9D0208;
    --red0: #D00000;
    --red1: #5c0000;
    --red2: #0f0000;
    --dark-orange0: #DC2F02;
    --orange0: #E85D04;
    --light-orange0: #F48C06;
    --dark-yellow0: #FAA307;
    --yellow0: #FFBA08;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 0.2rem; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-image: linear-gradient(to top, var(--dark-orange0), var(--light-orange0)); */
    background-image: linear-gradient(to bottom, var(--light-brown0), var(--dark-red0));
    box-sizing: border-box;
}